USE [QuanLyCamDo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract](
    @ContractID CHAR(10),
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @SoTienGoc DECIMAL(18,2);
    DECLARE @NgayVay DATE;
    DECLARE @Deadline1 DATE;
    DECLARE @LaiSuatNgay DECIMAL(10,6) = 0.005;  -- 0.5%/ngày
    DECLARE @TongTien DECIMAL(18,2);
    DECLARE @TongDaTra DECIMAL(18,2);
    
    SELECT 
        @SoTienGoc = SoTienGoc,
        @NgayVay = NgayVay,
        @Deadline1 = Deadline1
    FROM HOP_DONG
    WHERE MaHD = @ContractID;
    
    IF @SoTienGoc IS NULL
        RETURN 0;
    
    IF @TargetDate <= @Deadline1
    BEGIN
        DECLARE @SoNgay INT = DATEDIFF(DAY, @NgayVay, @TargetDate);
        SET @TongTien = @SoTienGoc + (@SoTienGoc * @LaiSuatNgay * @SoNgay);
    END
    
    ELSE
    BEGIN
        DECLARE @NgayDenDeadline1 INT = DATEDIFF(DAY, @NgayVay, @Deadline1);
        DECLARE @LaiDonDenDeadline1 DECIMAL(18,2) = @SoTienGoc * @LaiSuatNgay * @NgayDenDeadline1;

        DECLARE @SoTienSauDeadline1 DECIMAL(18,2) = @SoTienGoc + @LaiDonDenDeadline1;
        
        DECLARE @SoNgayQuaHan INT = DATEDIFF(DAY, @Deadline1, @TargetDate);
        
        SET @TongTien = @SoTienSauDeadline1 * POWER(1 + @LaiSuatNgay, @SoNgayQuaHan);
    END
    
    SELECT @TongDaTra = ISNULL(SUM(SoTienTra), 0)
    FROM LOG_GIAO_DICH
    WHERE MaHD = @ContractID;
    
    SET @TongTien = @TongTien - @TongDaTra;
    
    IF @TongTien < 0
        SET @TongTien = 0;
    
    RETURN @TongTien;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction](
    @TransactionID CHAR(10),
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @Result DECIMAL(18,2);
   
    SELECT @Result = ConNo
    FROM LOG_GIAO_DICH
    WHERE MaLog = @TransactionID AND NgayTra <= @TargetDate;
    
    RETURN ISNULL(@Result, 0);
END;
GO
/****** Object:  Table [dbo].[HOP_DONG]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOP_DONG](
	[MaHD] [char](10) NOT NULL,
	[MaKH] [char](10) NOT NULL,
	[SoTienGoc] [decimal](18, 2) NOT NULL,
	[NgayVay] [date] NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK__HOP_DONG__2725A6E073CE589A] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[CCCD] [char](12) NOT NULL,
	[NgayDangKy] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG_GIAO_DICH]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG_GIAO_DICH](
	[MaLog] [char](10) NOT NULL,
	[MaHD] [char](10) NOT NULL,
	[NgayTra] [date] NOT NULL,
	[SoTienTra] [decimal](18, 2) NOT NULL,
	[ConNo] [decimal](18, 2) NOT NULL,
	[PhuongThucThanhToan] [nvarchar](20) NULL,
 CONSTRAINT [PK__LOG_GIAO__3B98D24AD686F650] PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_SAN]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_SAN](
	[MaTS] [char](10) NOT NULL,
	[TenTS] [nvarchar](200) NOT NULL,
	[LoaiTS] [nvarchar](50) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NOT NULL,
	[MaHD] [char](10) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK__TAI_SAN__272500789155E70F] PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [SoTienGoc], [NgayVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (N'HD00000001', N'KH00000001', CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-01' AS Date), CAST(N'2026-07-31' AS Date), CAST(N'2026-08-15' AS Date), N'Đang vay')
INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [SoTienGoc], [NgayVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (N'HD00000002', N'KH00000002', CAST(20000000.00 AS Decimal(18, 2)), CAST(N'2026-04-01' AS Date), CAST(N'2026-05-01' AS Date), CAST(N'2026-05-15' AS Date), N'Ðang vay            ')
INSERT [dbo].[HOP_DONG] ([MaHD], [MaKH], [SoTienGoc], [NgayVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (N'HD00000003', N'KH00000003', CAST(5000000.00 AS Decimal(18, 2)), CAST(N'2026-03-01' AS Date), CAST(N'2026-04-01' AS Date), CAST(N'2026-04-15' AS Date), N'Ðã thanh toán       ')
GO
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT], [DiaChi], [CCCD], [NgayDangKy]) VALUES (N'KH00000001', N'Nguyễn Văn A', N'0901234567', N'123 Lê Lợi, Quận 1, TP.HCM', N'012345678901', CAST(N'2026-01-01' AS Date))
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT], [DiaChi], [CCCD], [NgayDangKy]) VALUES (N'KH00000002', N'Trần Thị B', N'0912345678', N'456 Nguyễn Huệ, Quận 2, TP.HCM', N'123456789012', CAST(N'2026-01-05' AS Date))
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT], [DiaChi], [CCCD], [NgayDangKy]) VALUES (N'KH00000003', N'Lê Văn C', N'0923456789', N'789 Võ Văn Tần, Quận 3, TP.HCM', N'234567890123', CAST(N'2026-01-10' AS Date))
GO
INSERT [dbo].[LOG_GIAO_DICH] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [ConNo], [PhuongThucThanhToan]) VALUES (N'LOG0000001', N'HD00000001', CAST(N'2026-05-10' AS Date), CAST(2000000.00 AS Decimal(18, 2)), CAST(8000000.00 AS Decimal(18, 2)), N'Ti?n m?t')
INSERT [dbo].[LOG_GIAO_DICH] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [ConNo], [PhuongThucThanhToan]) VALUES (N'LOG0000002', N'HD00000001', CAST(N'2026-05-15' AS Date), CAST(1000000.00 AS Decimal(18, 2)), CAST(7000000.00 AS Decimal(18, 2)), N'Chuy?n kho?n')
INSERT [dbo].[LOG_GIAO_DICH] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [ConNo], [PhuongThucThanhToan]) VALUES (N'LOG0000003', N'HD00000003', CAST(N'2026-04-10' AS Date), CAST(5500000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'Ti?n m?t')
GO
INSERT [dbo].[TAI_SAN] ([MaTS], [TenTS], [LoaiTS], [GiaTriDinhGia], [MaHD], [TrangThai]) VALUES (N'TS00000001', N'iPhone 14 Pro Max', N'Điện thoại', CAST(15000000.00 AS Decimal(18, 2)), N'HD00000001', N'Ðang c?m            ')
INSERT [dbo].[TAI_SAN] ([MaTS], [TenTS], [LoaiTS], [GiaTriDinhGia], [MaHD], [TrangThai]) VALUES (N'TS00000002', N'Laptop Dell XPS', N'Laptop', CAST(25000000.00 AS Decimal(18, 2)), N'HD00000001', N'Ðang c?m            ')
INSERT [dbo].[TAI_SAN] ([MaTS], [TenTS], [LoaiTS], [GiaTriDinhGia], [MaHD], [TrangThai]) VALUES (N'TS00000003', N'Đồng hồ Rolex', N'Đồng hồ', CAST(50000000.00 AS Decimal(18, 2)), N'HD00000002', N'Ðang c?m            ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACH_HA__A955A0AA70C43B9C]    Script Date: 11/05/2026 11:54:01 CH ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOP_DONG] ADD  CONSTRAINT [DF__HOP_DONG__NgayVa__0E6E26BF]  DEFAULT (getdate()) FOR [NgayVay]
GO
ALTER TABLE [dbo].[HOP_DONG] ADD  CONSTRAINT [DF__HOP_DONG__TrangT__0F624AF8]  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[LOG_GIAO_DICH] ADD  CONSTRAINT [DF__LOG_GIAO___Phuon__1BC821DD]  DEFAULT (N'Tiền mặt') FOR [PhuongThucThanhToan]
GO
ALTER TABLE [dbo].[TAI_SAN] ADD  CONSTRAINT [DF__TAI_SAN__TrangTh__160F4887]  DEFAULT (N'Đang cầm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD  CONSTRAINT [FK_HOPDONG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOP_DONG] CHECK CONSTRAINT [FK_HOPDONG_KHACHHANG]
GO
ALTER TABLE [dbo].[LOG_GIAO_DICH]  WITH CHECK ADD  CONSTRAINT [FK_LOG_HOPDONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOP_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[LOG_GIAO_DICH] CHECK CONSTRAINT [FK_LOG_HOPDONG]
GO
ALTER TABLE [dbo].[TAI_SAN]  WITH CHECK ADD  CONSTRAINT [FK_TAISAN_HOPDONG] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOP_DONG] ([MaHD])
GO
ALTER TABLE [dbo].[TAI_SAN] CHECK CONSTRAINT [FK_TAISAN_HOPDONG]
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_Deadline] CHECK  (([Deadline2]>[Deadline1]))
GO
ALTER TABLE [dbo].[HOP_DONG] CHECK CONSTRAINT [CK_HOPDONG_Deadline]
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD  CONSTRAINT [CK_HOPDONG_NgayVay] CHECK  (([NgayVay]<=[Deadline1]))
GO
ALTER TABLE [dbo].[HOP_DONG] CHECK CONSTRAINT [CK_HOPDONG_NgayVay]
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH NOCHECK ADD  CONSTRAINT [CK_HOPDONG_TrangThai] CHECK  (([TrangThai]=N'Đang trả góp' OR [TrangThai]=N'Đã thanh lý' OR [TrangThai]=N'Đã thanh toán' OR [TrangThai]=N'Quá hạn' OR [TrangThai]=N'Đang vay'))
GO
ALTER TABLE [dbo].[HOP_DONG] NOCHECK CONSTRAINT [CK_HOPDONG_TrangThai]
GO
ALTER TABLE [dbo].[LOG_GIAO_DICH]  WITH CHECK ADD  CONSTRAINT [CK_LOG_ConNo] CHECK  (([ConNo]>=(0)))
GO
ALTER TABLE [dbo].[LOG_GIAO_DICH] CHECK CONSTRAINT [CK_LOG_ConNo]
GO
ALTER TABLE [dbo].[LOG_GIAO_DICH]  WITH CHECK ADD  CONSTRAINT [CK_LOG_SoTienTra] CHECK  (([SoTienTra]>(0)))
GO
ALTER TABLE [dbo].[LOG_GIAO_DICH] CHECK CONSTRAINT [CK_LOG_SoTienTra]
GO
ALTER TABLE [dbo].[TAI_SAN]  WITH CHECK ADD  CONSTRAINT [CK_TAISAN_GiaTri] CHECK  (([GiaTriDinhGia]>(0)))
GO
ALTER TABLE [dbo].[TAI_SAN] CHECK CONSTRAINT [CK_TAISAN_GiaTri]
GO
ALTER TABLE [dbo].[TAI_SAN]  WITH NOCHECK ADD  CONSTRAINT [CK_TAISAN_TrangThai] CHECK  (([TrangThai]=N'Đã trả' OR [TrangThai]=N'Đã bán thanh lý' OR [TrangThai]=N'Sẵn sàng thanh lý' OR [TrangThai]=N'Đang cầm'))
GO
ALTER TABLE [dbo].[TAI_SAN] NOCHECK CONSTRAINT [CK_TAISAN_TrangThai]
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDongMoi]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DangKyHopDongMoi]
    @TenKH NVARCHAR(100),
    @SDT VARCHAR(15),
    @DiaChi NVARCHAR(200),
    @CCCD CHAR(12),
    
    @SoTienVay DECIMAL(18,2),
    @Deadline1 DATE,
    @Deadline2 DATE,
    
    @DanhSachTaiSan NVARCHAR(MAX)
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @MaKH CHAR(10);
        DECLARE @MaHD CHAR(10);
        DECLARE @SoThuTu INT;
        DECLARE @NgayVay DATE = GETDATE();
        
        IF EXISTS (SELECT 1 FROM KHACH_HANG WHERE CCCD = @CCCD)
        BEGIN
            SELECT @MaKH = MaKH FROM KHACH_HANG WHERE CCCD = @CCCD;
            
            UPDATE KHACH_HANG 
            SET TenKH = @TenKH, SDT = @SDT, DiaChi = @DiaChi
            WHERE MaKH = @MaKH;
        END
        ELSE
        BEGIN
            SELECT @SoThuTu = ISNULL(MAX(CAST(SUBSTRING(MaKH, 3, 8) AS INT)), 0) + 1
            FROM KHACH_HANG;
            SET @MaKH = 'KH' + RIGHT('00000000' + CAST(@SoThuTu AS VARCHAR(8)), 8);

            INSERT INTO KHACH_HANG (MaKH, TenKH, SDT, DiaChi, CCCD, NgayDangKy)
            VALUES (@MaKH, @TenKH, @SDT, @DiaChi, @CCCD, @NgayVay);
        END
        
        SELECT @SoThuTu = ISNULL(MAX(CAST(SUBSTRING(MaHD, 3, 8) AS INT)), 0) + 1
        FROM HOP_DONG;
        SET @MaHD = 'HD' + RIGHT('00000000' + CAST(@SoThuTu AS VARCHAR(8)), 8);
        
        INSERT INTO HOP_DONG (MaHD, MaKH, SoTienGoc, NgayVay, Deadline1, Deadline2, TrangThai)
        VALUES (@MaHD, @MaKH, @SoTienVay, @NgayVay, @Deadline1, @Deadline2, N'Đang vay');
        
        DECLARE @TempTS TABLE (TenTS NVARCHAR(200), LoaiTS NVARCHAR(50), GiaTri DECIMAL(18,2));
        
        DECLARE @xml XML = CAST('<ts><item name="' + 
            REPLACE(REPLACE(@DanhSachTaiSan, '|', '" loai="'), ',', '" gia="') + 
            '" /></ts>' AS XML);
        
        INSERT INTO @TempTS (TenTS, LoaiTS, GiaTri)
        SELECT 
            n.value('@name', 'NVARCHAR(200)'),
            n.value('@loai', 'NVARCHAR(50)'),
            n.value('@gia', 'DECIMAL(18,2)')
        FROM @xml.nodes('//ts/item') AS x(n);
        
        DECLARE @SoThuTuTS INT = 0;
        DECLARE @MaTS CHAR(10);
        
        DECLARE ts_cursor CURSOR FOR
        SELECT TenTS, LoaiTS, GiaTri FROM @TempTS;
        
        OPEN ts_cursor;
        DECLARE @TenTS NVARCHAR(200), @LoaiTS NVARCHAR(50), @GiaTri DECIMAL(18,2);
        
        FETCH NEXT FROM ts_cursor INTO @TenTS, @LoaiTS, @GiaTri;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            SET @SoThuTuTS = @SoThuTuTS + 1;
            SET @MaTS = 'TS' + RIGHT('00000000' + CAST(@SoThuTuTS AS VARCHAR(8)), 8);
            
            INSERT INTO TAI_SAN (MaTS, TenTS, LoaiTS, GiaTriDinhGia, MaHD, TrangThai)
            VALUES (@MaTS, @TenTS, @LoaiTS, @GiaTri, @MaHD, N'Đang cầm');
            
            FETCH NEXT FROM ts_cursor INTO @TenTS, @LoaiTS, @GiaTri;
        END
        
        CLOSE ts_cursor;
        DEALLOCATE ts_cursor;
        
        SELECT @SoThuTu = ISNULL(MAX(CAST(SUBSTRING(MaLog, 4, 7) AS INT)), 0) + 1
        FROM LOG_GIAO_DICH;
        
        INSERT INTO LOG_GIAO_DICH (MaLog, MaHD, NgayTra, SoTienTra, ConNo, PhuongThucThanhToan)
        VALUES ('LOG' + RIGHT('0000000' + CAST(@SoThuTu AS VARCHAR(7)), 7), 
                @MaHD, @NgayVay, 0, @SoTienVay, N'Hệ thống');

        COMMIT TRANSACTION;
        
        SELECT 
            @MaHD AS MaHopDong,
            @MaKH AS MaKhachHang,
            @SoTienVay AS SoTienVay,
            @NgayVay AS NgayVay,
            @Deadline1 AS Deadline1,
            @Deadline2 AS Deadline2,
            N'Đăng ký thành công' AS KetQua;

        SELECT MaTS, TenTS, LoaiTS, GiaTriDinhGia, TrangThai
        FROM TAI_SAN
        WHERE MaHD = @MaHD;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS Loi;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachNoXau]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DanhSachNoXau]
AS
BEGIN
    -- Kiểm tra số lượng hợp đồng quá hạn
    DECLARE @SoLuongQuaHan INT;
    SELECT @SoLuongQuaHan = COUNT(*) FROM HOP_DONG WHERE GETDATE() > Deadline1;
    PRINT 'So hop dong qua han: ' + CAST(@SoLuongQuaHan AS VARCHAR);
    
    -- In ra danh sách
    SELECT 
        ISNULL(kh.TenKH, 'Khong co KH') AS TenKH,
        ISNULL(kh.SDT, 'Khong co SDT') AS SDT,
        hd.SoTienGoc,
        DATEDIFF(DAY, hd.Deadline1, GETDATE()) AS SoNgayQuaHan
    FROM HOP_DONG hd
    LEFT JOIN KHACH_HANG kh ON hd.MaKH = kh.MaKH
    WHERE GETDATE() > hd.Deadline1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GiaHanHopDong]
    @ContractID CHAR(10),
    @NewDeadline1 DATE,
    @NewDeadline2 DATE
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @TienLaiPhaiTra DECIMAL(18,2);
        DECLARE @NgayHienTai DATE = GETDATE();
        DECLARE @SoThuTu INT;
        DECLARE @MaLog CHAR(10);
        DECLARE @TrangThaiHienTai NVARCHAR(50);

        SELECT @TrangThaiHienTai = TrangThai 
        FROM HOP_DONG 
        WHERE MaHD = @ContractID;

        IF @TrangThaiHienTai IS NULL
        BEGIN
            SELECT N'Hợp đồng không tồn tại' AS ThongBao;
            RETURN;
        END

        SET @TienLaiPhaiTra = dbo.fn_CalcMoneyContract(@ContractID, @NgayHienTai);

        SELECT @SoThuTu = ISNULL(MAX(CAST(SUBSTRING(MaLog, 4, 7) AS INT)), 0) + 1
        FROM LOG_GIAO_DICH;
        SET @MaLog = 'LOG' + RIGHT('0000000' + CAST(@SoThuTu AS VARCHAR(7)), 7);
 
        INSERT INTO LOG_GIAO_DICH (MaLog, MaHD, NgayTra, SoTienTra, ConNo, PhuongThucThanhToan)
        VALUES (@MaLog, @ContractID, @NgayHienTai, @TienLaiPhaiTra, 0, N'Gia hạn hợp đồng');

        UPDATE HOP_DONG
        SET Deadline1 = @NewDeadline1,
            Deadline2 = @NewDeadline2,
            TrangThai = N'Đang vay'
        WHERE MaHD = @ContractID;
        
        SELECT N'GIA HẠN THÀNH CÔNG!' AS ThongBao;
        SELECT N'Đã trả lãi: ' + CAST(@TienLaiPhaiTra AS NVARCHAR) + N' VND' AS SoTienDaTra;
        SELECT N'Deadline1 mới: ' + CAST(@NewDeadline1 AS NVARCHAR) AS Deadline1Moi;
        SELECT N'Deadline2 mới: ' + CAST(@NewDeadline2 AS NVARCHAR) AS Deadline2Moi;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT N'LỖI: ' + ERROR_MESSAGE() AS ThongBao;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XuLyTraNo]
    @ContractID CHAR(10),          
    @SoTienTra DECIMAL(18,2),       
    @PhuongThucThanhToan VARCHAR(20) = N'Tiền mặt'  
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @TrangThaiHD NVARCHAR(50);
        DECLARE @TongNoHienTai DECIMAL(18,2);
        DECLARE @ConNoMoi DECIMAL(18,2);
        DECLARE @NgayHienTai DATE = GETDATE();
        DECLARE @SoThuTu INT;
        DECLARE @MaLog CHAR(10);
        DECLARE @Deadline2 DATE;
        
        SELECT @TrangThaiHD = TrangThai, @Deadline2 = Deadline2
        FROM HOP_DONG 
        WHERE MaHD = @ContractID;
        
        IF @TrangThaiHD IS NULL
        BEGIN
            SELECT N'Hợp đồng không tồn tại' AS ThongBao;
            RETURN;
        END
        
        IF EXISTS (SELECT 1 FROM TAI_SAN WHERE MaHD = @ContractID AND TrangThai = N'Đã bán thanh lý')
        BEGIN
            SELECT N'KHÔNG THỂ THU TIỀN - Tài sản đã bị thanh lý' AS ThongBao;
            RETURN;
        END
        
        SET @TongNoHienTai = dbo.fn_CalcMoneyContract(@ContractID, @NgayHienTai);
        
        SET @ConNoMoi = @TongNoHienTai - @SoTienTra;
        
        IF @SoTienTra <= 0
        BEGIN
            SELECT N'Số tiền trả phải lớn hơn 0' AS ThongBao;
            RETURN;
        END
        
        IF @SoTienTra > @TongNoHienTai
        BEGIN
            SELECT N'Tiền trả vượt quá số nợ, hệ thống chỉ thu ' + CAST(@TongNoHienTai AS NVARCHAR) + N' VND' AS ThongBao;
            SET @SoTienTra = @TongNoHienTai;
            SET @ConNoMoi = 0;
        END
        
        SELECT @SoThuTu = ISNULL(MAX(CAST(SUBSTRING(MaLog, 4, 7) AS INT)), 0) + 1
        FROM LOG_GIAO_DICH;
        SET @MaLog = 'LOG' + RIGHT('0000000' + CAST(@SoThuTu AS VARCHAR(7)), 7);
        
        INSERT INTO LOG_GIAO_DICH (MaLog, MaHD, NgayTra, SoTienTra, ConNo, PhuongThucThanhToan)
        VALUES (@MaLog, @ContractID, @NgayHienTai, @SoTienTra, 
                CASE WHEN @ConNoMoi < 0 THEN 0 ELSE @ConNoMoi END, @PhuongThucThanhToan);
        
        IF @ConNoMoi <= 0
        BEGIN
            UPDATE HOP_DONG 
            SET TrangThai = N'Đã thanh toán' 
            WHERE MaHD = @ContractID;
            UPDATE TAI_SAN 
            SET TrangThai = N'Đã trả' 
            WHERE MaHD = @ContractID;
            
            SELECT N'THANH TOÁN ĐỦ - Tài sản đã được trả lại cho khách hàng' AS ThongBao;
        END
        ELSE
        BEGIN
            UPDATE HOP_DONG 
            SET TrangThai = N'Đang trả góp' 
            WHERE MaHD = @ContractID;
            
            SELECT N'ĐÃ TRẢ ' + CAST(@SoTienTra AS NVARCHAR) + N' VND - Còn nợ ' + CAST(@ConNoMoi AS NVARCHAR) + N' VND' AS ThongBao;
        END
        
        IF @ConNoMoi > 0
        BEGIN
            SELECT 
                ts.MaTS,
                ts.TenTS,
                ts.LoaiTS,
                ts.GiaTriDinhGia,
                @ConNoMoi AS DuNoConLai,
                CASE 
                    WHEN ts.GiaTriDinhGia >= @ConNoMoi 
                        THEN N'✅ CÓ THỂ TRẢ - Giá trị tài sản đủ thanh toán nợ'
                    ELSE N'❌ KHÔNG ĐỦ - Giá trị tài sản nhỏ hơn dư nợ'
                END AS GoiYTra,
                CASE 
                    WHEN ts.GiaTriDinhGia >= @ConNoMoi 
                        THEN N'Nếu trả tài sản này, khách sẽ được giải chấp và không còn nợ'
                    ELSE N'Cần trả thêm ' + CAST((@ConNoMoi - ts.GiaTriDinhGia) AS NVARCHAR) + N' VND tiền mặt'
                END AS KhuyenNghi
            FROM TAI_SAN ts
            WHERE ts.MaHD = @ContractID 
              AND ts.TrangThai = N'Đang cầm'
            ORDER BY ts.GiaTriDinhGia DESC;
        END
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT N'LỖI: ' + ERROR_MESSAGE() AS ThongBao;
    END CATCH
END;
GO
/****** Object:  Trigger [dbo].[trg_ChuyenQuaHan]    Script Date: 11/05/2026 11:54:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ChuyenQuaHan]
ON [dbo].[HOP_DONG]
AFTER UPDATE, INSERT
AS
BEGIN
    UPDATE hd
    SET TrangThai = N'Quá hạn'
    FROM HOP_DONG hd
    INNER JOIN inserted i ON hd.MaHD = i.MaHD
    WHERE i.TrangThai = N'Đang vay'
      AND GETDATE() > i.Deadline1;
END;
GO
ALTER TABLE [dbo].[HOP_DONG] ENABLE TRIGGER [trg_ChuyenQuaHan]
GO
/****** Object:  Trigger [dbo].[trg_DaBanThanhLy]    Script Date: 11/05/2026 11:54:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DaBanThanhLy]
ON [dbo].[HOP_DONG]
AFTER UPDATE
AS
BEGIN
    IF UPDATE(TrangThai)
    BEGIN
        UPDATE ts
        SET TrangThai = N'Đã bán thanh lý'
        FROM TAI_SAN ts
        INNER JOIN inserted i ON ts.MaHD = i.MaHD
        WHERE i.TrangThai = N'Đã thanh lý'
          AND ts.TrangThai IN (N'Đang cầm', N'Sẵn sàng thanh lý');
    END
END;
GO
ALTER TABLE [dbo].[HOP_DONG] ENABLE TRIGGER [trg_DaBanThanhLy]
GO
/****** Object:  Trigger [dbo].[trg_SanSangThanhLy]    Script Date: 11/05/2026 11:54:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_SanSangThanhLy]
ON [dbo].[HOP_DONG]
AFTER UPDATE
AS
BEGIN
    UPDATE ts
    SET TrangThai = N'Sẵn sàng thanh lý'
    FROM TAI_SAN ts
    INNER JOIN HOP_DONG hd ON ts.MaHD = hd.MaHD
    INNER JOIN inserted i ON hd.MaHD = i.MaHD
    WHERE i.TrangThai = N'Quá hạn'
      AND GETDATE() > i.Deadline2
      AND ts.TrangThai = N'Đang cầm';
END;
GO
ALTER TABLE [dbo].[HOP_DONG] ENABLE TRIGGER [trg_SanSangThanhLy]
GO
